<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Igpay Atinizerlay!</title>
  </head>
  <body>
    <h1>Igpay Atinizerlay!</h1>
    <p>Results: <%= @translated_text.piglatinize(params[:user_phrase]) %></p>
  </body>
</html>